:root {
  --text: #6b6375;
  --text-h: #08060d;
  --bg: #fff;
  --border: #e5e4e7;
  --code-bg: #f4f3ec;
  --accent: #aa3bff;
  --accent-bg: rgba(170, 59, 255, 0.1);
  --accent-border: rgba(170, 59, 255, 0.5);
  --social-bg: rgba(244, 243, 236, 0.5);
  --shadow:
    rgba(0, 0, 0, 0.1) 0 10px 15px -3px, rgba(0, 0, 0, 0.05) 0 4px 6px -2px;

  --sans: system-ui, "Segoe UI", Roboto, sans-serif;
  --heading: system-ui, "Segoe UI", Roboto, sans-serif;
  --mono: ui-monospace, Consolas, monospace;

  font: 18px/145% var(--sans);
  letter-spacing: 0.18px;
  color-scheme: light dark;
  color: var(--text);
  background: var(--bg);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media (max-width: 1024px) {
    font-size: 16px;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --text: #9ca3af;
    --text-h: #f3f4f6;
    --bg: #16171d;
    --border: #2e303a;
    --code-bg: #1f2028;
    --accent: #c084fc;
    --accent-bg: rgba(192, 132, 252, 0.15);
    --accent-border: rgba(192, 132, 252, 0.5);
    --social-bg: rgba(47, 48, 58, 0.5);
    --shadow:
      rgba(0, 0, 0, 0.4) 0 10px 15px -3px, rgba(0, 0, 0, 0.25) 0 4px 6px -2px;
  }
}

/* GOOGLE ICONS */

body {
  margin: 0;
  scroll-behavior: smooth;
}

#root {
  width: 1126px;
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
  border-inline: 1px solid var(--border);
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

h1,
h2 {
  font-family: var(--heading);
  font-weight: 500;
  color: var(--text-h);
}

h1 {
  font-size: 56px;
  letter-spacing: -1.68px;
  margin: 32px 0;
  @media (max-width: 1024px) {
    font-size: 36px;
    margin: 20px 0;
  }
}
h2 {
  font-size: 24px;
  line-height: 118%;
  letter-spacing: -0.24px;
  margin: 0 0 8px;
  @media (max-width: 1024px) {
    font-size: 20px;
  }
}
p {
  margin: 0;
}
.nav-container {
  position: sticky;
  display: flex;
  justify-content: space-between;
  height: 40px;
  z-index: 1;
  background-color: #ffffff;
  color: #0f5403;
  padding: 16px;
  box-shadow:
    0 4px 8px 0 rgba(108, 132, 64, 0.01),
    0 6px 20px 0 rgba(87, 97, 28, 0.05);
}
.nav-container a {
  text-decoration: none;
}

.nav-bar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  gap: 8px;

  padding: 8px;
}
.navbar-text {
  font-size: 14px;
  color: #16171d;
}

.nav-form-elements {
  display: flex;
  gap: 8px;
}

/* SEARCH-BOX */
.search-box {
  display: flex;
  gap: 8px;
  max-width: 600px;
  width: 100%;
}

.search-box input {
  flex: 1;
  padding: 10px 12px;
  border: 1px solid #ccc;
  border-radius: 20px;
  width: 250px;
  outline: none;
}

.search-box input:focus {
  border-color: #409b00;
}
.search-box input:hover {
  border-color: #409b00;
}

/* CONTENT ZONE */
.hompepage {
  background-color: #f6f9ef;
  justify-content: center;
  align-items: center;
  min-height: 120vh;
}
.about-page {
  margin-right: 40px;
  margin-left: 40px;
  min-height: 100vh;
}

.hero {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 24px;
  padding: 24px;
}
.hero-text {
  display: flex;
  width: 350px;
  flex-direction: column;
  justify-content: flex-start;
  text-align: left;
}
.hero-text h1 {
  line-height: 60px;
}

.img-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 8px;
  overflow: hidden;
  object-fit: cover;
  width: "100%";
}

.recipe-image {
  max-width: 85%;
  max-height: 600px;
  width: auto;
  display: block;
  margin: 0 auto;
  border-radius: 24px;
  overflow: hidden;
}

.recipe-cards {
  display: flex;
  gap: 12px;
  flex-wrap: wrap;
  justify-content: center;
}

li {
  text-align: left;
  list-style-type: none;
  text-decoration: none;
}
img {
  border-radius: 16px;
}
.create-recipe {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  padding: 24px;
  background-color: #ffffff;
  margin: 24px;
  border-radius: 16px;
}
.recipeDetailsPage {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  width: auto;
  padding: 40px;

  border-radius: 8px;
}
.form-element {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0px 24px 16px 24px;
  gap: 16px;
  margin: 8px;
}

.card {
  background-color: rgb(255, 255, 255);
  border-radius: 16px;
  box-shadow:
    0 4px 8px 0 rgba(108, 132, 64, 0.01),
    0 6px 20px 0 rgba(87, 97, 28, 0.05);
}
.card:hover {
  /* border: #168d01 solid 1px; */
  box-shadow:
    0 4px 8px 0 rgba(56, 99, 21, 0.1),
    0 6px 20px 0 rgba(40, 64, 0, 0.1);
}
/* GRID LAYOUT */
.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: #f6f9ef;
  height: 100%;
  min-height: 120vh;
}
.page-area {
  height: auto;
  padding-bottom: 32px;
}
.not-found-page {
  display: block;
  align-content: center;
  min-height: 50vh;
}

.bookmar-list {
  margin-top: 32px;
  min-height: 50vh;
}

.side-bar {
  display: flex;
  flex-direction: column;
  padding-top: 24px;
  width: 150px;
  background: #020024;
  background: linear-gradient(
    180deg,
    /* rgba(2, 0, 36, 1) 0%, */ rgb(25, 56, 36) 35%,
    rgb(45, 45, 45) 150%
  );
}
.sibar-tabs {
  display: flex;

  align-items: center;
  gap: 4px;
  padding: 4px;
  margin-bottom: 2px;
  border-radius: 16px;
  transition: 0.2s;
}
.sibar-tabs:hover {
  background-color: #168d01;
}

.sidebar-content {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  text-align: left;
  gap: 16px;
  padding-left: 12px;
  padding: 12px;
}
.sidebar-content a {
  text-decoration: none;
  color: #ffffff;
}
/* FORM HANDLING */
.form-element label {
  text-align: left;
  line-height: 4px;
  font-size: 14px;
  font-weight: bold;
}
.form-element input {
  text-align: left;
  text-decoration: none;
  height: 24px;
  margin-bottom: 12px;
}

/* BTN */
.main-cta {
  background: #137302;
  color: #ffffff;
  border: none;
  width: 150px;
  height: 36px;
}
.main-cta:hover {
  background-color: #0f5403;
}

.main-delete-btn {
  background-color: #faa4a4;
  color: #5b0000;
  border: #960014 solid 1px;
}
.main-delete-btn:hover {
  color: #ffffff;
  background-color: #b4031a;
}

.confirm-delete-btn {
  background-color: #faa4a4;
  color: #5b0000;
  border: #960014 solid 1px;
}

.confirm-delete-btn:hover {
  color: #ffffff;
  background-color: #b4031a;
}

.form-btns {
  display: flex;
  flex-wrap: wrap;
  margin-top: 30px;
  justify-content: center;
  gap: 30px;
}
button {
  text-decoration: none;
  width: 100px;
  height: 30px;
  border: none;
  background-color: none;
  border-radius: 16px;
  transition: 0.3s;
  border: #20703f solid 1px;
}
button:hover {
  background-color: #abd4a4;
}

#footer {
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 24px;
  font-size: 12px;
  gap: 24px;
  background-color: #1f2028;
  color: #22e400;
}
#footer a {
  color: #22e400;
}
.loader-container {
  min-height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 14px;
}

.animated-spinner {
  width: 4rem !important;
  height: 4rem !important;
  color: #ff6b35;
  animation:
    spinner-grow 1.2s linear infinite,
    glow 1.5s ease-in-out infinite alternate;
}

.loading-text {
  font-size: 16px;
  font-weight: 500;
  color: #666;
  animation: pulse 1.5s ease-in-out infinite;
}

@keyframes glow {
  from {
    filter: drop-shadow(0 0 2px #ff6b35);
  }

  to {
    filter: drop-shadow(0 0 12px #ff6b35);
  }
}

@keyframes pulse {
  0% {
    opacity: 0.4;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0.4;
  }
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-box {
  background: white;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  width: 300px;
}

.modal-actions {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}
